In [1]:
import pandas as pd
import numpy as np
import os
import re
import random

In [ ]:
df = pd.read_csv(r"D:\Generative AI\NLP_For_Gen_AI\IMDB Dataset.csv", nrows=100)

In [3]:
df

                                               review sentiment
0   One of the other reviewers has mentioned that ...  positive
1   A wonderful little production. <br /><br />The...  positive
2   I thought this was a wonderful way to spend ti...  positive
3   Basically there's a family where a little boy ...  negative
4   Petter Mattei's "Love in the Time of Money" is...  positive
..                                                ...       ...
95  Daniel Day-Lewis is the most versatile actor a...  positive
96  My guess would be this was originally going to...  negative
97  Well, I like to watch bad horror B-Movies, cau...  negative
98  This IS the worst movie I have ever seen, as w...  negative
99  I have been a Mario fan for as long as I can r...  positive

[100 rows x 2 columns]

# Lower Casing

In [4]:
df['review'] = df['review'].str.lower()

In [5]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production. <br /><br />the...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically there's a family where a little boy ...  negative
4   petter mattei's "love in the time of money" is...  positive
..                                                ...       ...
95  daniel day-lewis is the most versatile actor a...  positive
96  my guess would be this was originally going to...  negative
97  well, i like to watch bad horror b-movies, cau...  negative
98  this is the worst movie i have ever seen, as w...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

# Remove HTML Tags

In [6]:
import re  #Regular Expressions
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [7]:
df['review'] = df['review'].apply(remove_html_tags)

In [8]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production. the filming tec...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically there's a family where a little boy ...  negative
4   petter mattei's "love in the time of money" is...  positive
..                                                ...       ...
95  daniel day-lewis is the most versatile actor a...  positive
96  my guess would be this was originally going to...  negative
97  well, i like to watch bad horror b-movies, cau...  negative
98  this is the worst movie i have ever seen, as w...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

# Remove URLs

In [9]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www.\.\S+')
    return pattern.sub(r'', text)

In [10]:
df['review'] = df['review'].apply(remove_url)

In [11]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production. the filming tec...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically there's a family where a little boy ...  negative
4   petter mattei's "love in the time of money" is...  positive
..                                                ...       ...
95  daniel day-lewis is the most versatile actor a...  positive
96  my guess would be this was originally going to...  negative
97  well, i like to watch bad horror b-movies, cau...  negative
98  this is the worst movie i have ever seen, as w...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

# Remove Punctuaton

In [12]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [13]:
exclude = string.punctuation

In [14]:
def remove_punc1(text):
    return text.translate(str.maketrans('','',exclude))

In [15]:
df['review'] = df['review'].apply(remove_punc1)

In [16]:
df

                                               review sentiment
0   one of the other reviewers has mentioned that ...  positive
1   a wonderful little production the filming tech...  positive
2   i thought this was a wonderful way to spend ti...  positive
3   basically theres a family where a little boy j...  negative
4   petter matteis love in the time of money is a ...  positive
..                                                ...       ...
95  daniel daylewis is the most versatile actor al...  positive
96  my guess would be this was originally going to...  negative
97  well i like to watch bad horror bmovies cause ...  negative
98  this is the worst movie i have ever seen as we...  negative
99  i have been a mario fan for as long as i can r...  positive

[100 rows x 2 columns]

# Removing Stop Words

In [17]:
from nltk.corpus import stopwords

In [18]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sreedhar\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [20]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [21]:
df['review'] = df['review'].apply(remove_stopwords)

In [22]:
df

                                               review sentiment
0   one    reviewers  mentioned   watching  1 oz e...  positive
1    wonderful little production  filming techniqu...  positive
2    thought    wonderful way  spend time    hot s...  positive
3   basically theres  family   little boy jake thi...  negative
4   petter matteis love   time  money   visually s...  positive
..                                                ...       ...
95  daniel daylewis    versatile actor alive engli...  positive
96   guess would    originally going    least two ...  negative
97  well  like  watch bad horror bmovies cause  th...  negative
98     worst movie   ever seen  well   worst    pr...  negative
99      mario fan   long    remember    fond memor...  positive

[100 rows x 2 columns]

# Handling Emojis

- If we have emojis in the text, we have two options:
  - Removing Emojis. (OR)
  - Replacing emojis in the form of text.

In [23]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                               "u\U0001F600-\U0001F64F"  # Emotions
                               "u\U0001F300-\U0001F5FF"  # Symbols & pictographs
                               "u\U0001F680-\U0001F6FF"  # Transport & map symbols
                               "u\U0001F1E0-\U0001F1FF"  # Flags(iOS)
                               "u\U00002702-\U000027B0"
                               "u\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [24]:
remove_emoji("Loved the movie, it was üëç")

'Loved the movie, it was '

In [25]:
#!pip install emoji

In [26]:
import emoji
print(emoji.demojize('Python is üî•'))

Python is :fire:

# Tokenization

### 1. Using the split function

In [ ]:
# Word Tokenization
a = 'I am going to delhi'
a.split()

In [ ]:
# Sentence Tokenization
b = 'Iam going to delhi. I will stay there for 3 days. Let\'s hope the trip to be great'
b.split('.')

In [ ]:
# Problem with split function
c = 'I am going to delhi'
c.split()

In [ ]:
d = 'Where do think I should go? I have 3 day holiday'
d.split('.')

### 2. Regular Expression

In [ ]:
import re

e = 'I am going to delhi'
tokens = re.findall("[\w']+", e)
tokens

In [ ]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""
sentences = re.compile('[.!?] ').split(text)
sentences

### 3. NLTK

In [ ]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [ ]:
sent1 = 'I am goind to visit delhi!'
word_tokenize(sent1)

In [ ]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""

sent_tokenize(text)

In [ ]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're  here to help! mail us at gks@gmail.com"
sent7 = 'A 5km ride cost $10.50'

In [ ]:
word_tokenize(sent5)

In [ ]:
word_tokenize(sent6)

In [ ]:
word_tokenize(sent7)

### 4. Spacy

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm') #english small dictionary

In [ ]:
doc1 = nlp(sent5)
doc2 = nlp(sent6)
doc3 = nlp(sent7)
doc4 = nlp(sent1)

In [ ]:
for token in doc1: # here it is failing
    print(token)

In [ ]:
for token in doc2:
    print(token)

In [ ]:
for token in doc3:
    print(token)

In [ ]:
for token in doc4:
    print(token)

# Stemming

In [ ]:
from nltk.stem.porter import PorterStemmer

In [ ]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [ ]:
sample = "walk walks walking walked"
stem_words(sample)

In [ ]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

In [ ]:
stem_words(text)

- Here after doing stemming the words like probably, movie, sacrifice etc are converted to probabl, movi, sacrific
- To solve this issue we will do Lemmetization.
- Work of both Stemming and Lemmetization are same.
- The difference is, Lemmetization is slow compared to Stemming

# LancasterStemmer

In [ ]:
from nltk.stem.lancaster import LancasterStemmer

ls = SnowballStemmer('english')

def stem_words(text):
    return " ".join([ls.stem(word) for word in text.split()])

In [ ]:
sample = "walk walks walking walked"
stem_words(sample)

In [ ]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

# SnowballStemmer

In [ ]:
from nltk.stem import SnowballStemmer

In [ ]:
from nltk.stem import SnowballStemmer

# Initialize the SnowballStemmer with the 'english' language
ss = SnowballStemmer('english')

def stem_words(text):
    return " ".join([ss.stem(word) for word in text.split()])

In [ ]:
sample = "walk walks walking walked"
stem_words(sample)

In [ ]:
text = "probably my all time favourite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen some 15 or more times in the last 25 years."
print(text)

# Lemmatizer

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer

In [ ]:
# Download the WordNet corpus
nltk.download('wordnet')

# You might also need to download the 'omw-1.4' package for wordnet
nltk.download('omw-1.4')

In [ ]:
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He aws running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations = "?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)
    
sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word,pos='v')))

In [27]:
df["words"]="default value"
df["sentences"]="default value"


for i in range(df.shape[0]): 
    df.at[i,"words"]= list("")
    df.at[i,"sentences"] = list("")

In [29]:
from nltk.tokenize import sent_tokenize

import nltk
nltk.download('punkt')

for i in range(df.shape[0]):
    l1= sent_tokenize(str(df.loc[i,"review"]))
    df.at[i,"sentences"]=l1

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Sreedhar\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [30]:
from pywsd.utils import lemmatize_sentence

import nltk
nltk.download('wordnet')

Warming up PyWSD (takes ~10 secs)... took 9.15415072441101 secs.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Sreedhar\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [31]:
for k in range(df.shape[0]):
    df.at[k,"words"]=list("")
    for j in range(len(df.loc[k,"sentences"])):
        df.at[k,"words"].extend(lemmatize_sentence(df.loc[k,"sentences"][j]))

df["words_sentences"] = "default"

import functools
for k in range(df.shape[0]):
    df.loc[k,"words_sentences"]=functools.reduce(lambda a,b:( str(a)+str(" ")+str(b)),df.loc[k,"words"])

# CountVectorizer

In [32]:
from sklearn.feature_extraction.text import  CountVectorizer

df1=df

no_features = 1000
tf_vectorizer = CountVectorizer( max_features=no_features, stop_words='english')
tf = tf_vectorizer.fit_transform(df1.words_sentences)

In [33]:
df_x=pd.DataFrame(tf.A, columns=tf_vectorizer.get_feature_names_out())

df_y=df["sentiment"]

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
le=LabelEncoder()

df_y_1=pd.DataFrame(df_y)

df_y_enc=df_y_1.apply(le.fit_transform)

df_y_enc.columns

Index(['sentiment'], dtype='object')

In [39]:
df_y_enc.head(5)

   sentiment
0          1
1          1
2          1
3          0
4          1

In [40]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
# Random Forest Classifier
rf = RandomForestClassifier(n_estimators=500, random_state=42)
rf.fit(df_x,df_y_enc)

# Accuracy
accuracy_rf = rf.score(df_x,df_y_enc)
print(f"Random Forest Accuracy: {accuracy_rf * 100:.2f}%")

C:\Users\Sreedhar\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Random Forest Accuracy: 100.00%

In [41]:
from sklearn.naive_bayes import MultinomialNB
nb = MultinomialNB()
nb.fit(df_x,df_y_enc)

# Compute accuracy
accuracy_nb = nb.score(df_x,df_y_enc)
print(f"Naive Bayes Accuracy: {accuracy_nb * 100:.2f}%")

Naive Bayes Accuracy: 98.00%

C:\Users\Sreedhar\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1339: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [42]:
from sklearn.ensemble import GradientBoostingClassifier

GBC=GradientBoostingClassifier(n_estimators=100)

gb_c=GBC.fit(df_x,df_y_enc)

C:\Users\Sreedhar\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [43]:
gbc_score=GBC.score(df_x,df_y_enc)
print(f"gbc_score: {gbc_score* 100:.2f}%")

gbc_score: 100.00%